// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 1200px
);

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #CDBA6F;
$accent-1:              #1A4899;
$accent-2:              #BD231B;
$accent-3:              #44A6CB;
$gray-dark:             #222;
$gray:                  #606060;
$gray-light:            #B1B1B1;
$gray-lightest:         #EBEBEB;

$body-color: white;

$font-family-base:      'Josefin Sans',sans-serif;
$font-family-heading:   'Noto Serif',serif;

// Border Radius
/*
$border-radius: 1rem;
$border-radius-lg: 2rem;
$border-radius-sm: 0.25rem;
*/